In [51]:
import pandas as pd
XYZ_web= {'Day':[1,2,3,4,5,6], "Visitors":[1000, 700,6000,1000,400,350], "Bounce_Rate":[20,20, 23,15,10,34]}
df = pd.DataFrame(XYZ_web) # convert dict to data frame
print("\ndict to dataframe \n",df)
print("\ndataframe head method for 2 row \n\n",df.head(2)) # print first 2 row
print("\ndataframe tail method for 2 row \n\n",df.tail(2)) # print last 2 row

print("\n change datafrmae index \n\n ", df.set_index("Day")) # change index column of dataframe by day column

# change header colum

df = df.rename(columns={"Visitors":"Users"})
print("\n change header cloumn \n\n ",df)


dic1 = { "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}
dic2 = { "HPI":[180,190,170,160],"Int_Rate":[2,1,2,3],"IND_GDP":[60,45,45,67]}

df1= pd.DataFrame(dic1, index=[2001, 2002,2003,2004])
df2=pd.DataFrame(dic2, index=[2005, 2006,2007,2008])
print("\n  dataframe1 \n\n",df1)
print("\n dataframe2 \n\n",df2)

print("\n Merge 2 dataframe data into one axis 0 \n\n",pd.concat([df1,df2],axis=0)) #
print("\n Merge 2 dataframe data into one axis 1 \n\n",pd.concat([df1,df2],axis=1)) #



df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])
joined= df1.join(df2)
print("\n join two dataframe \n\n  ",joined)


from google.colab import drive
drive.mount(mountpoint='/content/gdrive',force_remount=True)
mycsv = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/mycs.csv',header=0,sep=",")
print("\n read csv file \n\n",mycsv)
# convert csv to html
htm = mycsv.to_html('edu.html')
print(htm)

dict to dataframe
    Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

dataframe head method for 2 row

    Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20

dataframe tail method for 2 row

    Day  Visitors  Bounce_Rate
4    5       400           10
5    6       350           34

 change datafrmae index

       Visitors  Bounce_Rate
Day
1        1000           20
2         700           20
3        6000           23
4        1000           15
5         400           10
6         350           34

 change header cloumn

     Day  Users  Bounce_Rate
0    1   1000           20
1    2    700           20
2    3   6000           23
3    4   1000           15
4    5    400           10
5    6    350           34

  dataframe1

       HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67

 dataframe2

       HPI  Int_Rate  IND_GDP
2005  180         2       60
2006  190         1       45
2007  170         2       45
2008  160         3       67

 Merge 2 dataframe data into one axis 0

       HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005  180         2       60
2006  190         1       45
2007  170         2       45
2008  160         3       67

 Merge 2 dataframe data into one axis 1

        HPI  Int_Rate  IND_GDP    HPI  Int_Rate  IND_GDP
2001  80.0       2.0     50.0    NaN       NaN      NaN
2002  90.0       1.0     45.0    NaN       NaN      NaN
2003  70.0       2.0     45.0    NaN       NaN      NaN
2004  60.0       3.0     67.0    NaN       NaN      NaN
2005   NaN       NaN      NaN  180.0       2.0     60.0
2006   NaN       NaN      NaN  190.0       1.0     45.0
2007   NaN       NaN      NaN  170.0       2.0     45.0
2008   NaN       NaN      NaN  160.0       3.0     67.0

 join two dataframe

         Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0
Mounted at /content/gdrive

 read csv file

        year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
20119  2023                  all                     All Industries
20120  2023                  all                     All Industries
20121  2023                  all                     All Industries
20122  2023                  all                     All Industries
20123  2023                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
20119  j_Grand_Total                                     Total income
20120  j_Grand_Total                                Total expenditure
20121  j_Grand_Total                      Operating profit before tax
20122  j_Grand_Total                                     Total assets
20123  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
20119   930995  DOLLARS(millions)
20120   832964  DOLLARS(millions)
20121   103616  DOLLARS(millions)
20122  2831894  DOLLARS(millions)
20123   681890  DOLLARS(millions)

[20124 rows x 7 columns]
None